.home-risk {
  background-size: cover;
  background-position: center;
  background-image: url("../../../../assets/svg/texture.svg");
  background-color: var(--boardman-blue);

  padding: 100px 0;

  &__content {
    &__text {
      &__header {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #ffff;
        max-width: 673px;
        margin-bottom: 72px;
      }
    }

    &__risk {
      display: flex;
      flex-direction: column;
      gap: 106px;
    }
  }
}

.risk {
  &:nth-child(even) {
    .risk__content {
      flex-direction: row-reverse;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-right: auto;

    &__images {
      max-width: 501px;
      img {
        box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
        width: 100%;
      }
    }
    &__text {
      &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color: #ffff;
        margin-bottom: 40px;
      }

      &__descriptions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 56px;
        row-gap: 52px;

        p {
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          color: #ffff;
          max-width: 350px;
          display: flex;
          align-items: flex-start;
          gap: 16px;

          span {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
