.home-hero {
  background: linear-gradient(
    360deg,
    #dee8f2 -80.63%,
    rgba(249, 250, 251, 0) 100%
  );
  position: relative;
  margin-top: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/map.png");

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(
      360deg,
      #dee8f2 -80.63%,
      rgba(249, 250, 251, 0) 100%
    );
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &__text {
      margin-top: 45px;
      &__header {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        max-width: 504px;
      }
      &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        max-width: 504px;
        margin-bottom: 32px;
      }
      &__button {
        padding: 13px 26px;
        margin-bottom: 66px;
      }

      &__base {
        display: flex;
        gap: 72px;
        padding-top: 54px;
        padding-bottom: 42px;
      }
    }

    &__card {
      background: #fff;
      padding: 48px 31px;
      width: 100%;
      max-width: 456px;
      height: fit-content;
      box-shadow: 0px 15px 50px rgba(21, 37, 72, 0.1);
      border-radius: 16px;

      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }

      &__slider {
        background: rgba(55, 94, 134, 0.05);

        .tab-slider__text {
          font-weight: 500;
        }

        .tab-active {
          background: #204379;
          color: #fff;
          padding: 6px 14px;
        }
      }

      &__input {
        //   width:
        // display: flex;
        //   gap: 16px;
        position: relative;

        &__icon {
          background: #f3f5f9;
          border: 1px solid #f3f5f9;
          border-radius: 8px 0px 0px 8px;
          padding: 0px 17px;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          align-items: center;
          display: flex;
          height: 100%;
        }

        input {
          padding: 14px 16px 15px 71px;
          width: 100%;

          &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #959ead;
          }
        }
      }

      &__option {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
        margin-bottom: 8px;
        position: relative;

        &__currency {
          position: absolute;
          top: 31px;
          right: 0;
          display: flex;
          gap: 4px;
          align-items: center;
          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            color: #959ead;
          }
        }
      }

      &__button {
        width: 100%;
        margin-top: 40px;
      }
    }
  }
}

.home-base {
  display: flex;

  &__icon {
    background: #e4ecf4;
    height: 32px;
    width: 32px;
    padding: 9.76px 10.84px;
    border-radius: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 242px;
    margin-left: 24px;
  }
}
