@import "../../../styles/common/mixins";

.footer {
  background: var(--boardman-blue);
  padding-top: 67px;
  padding-bottom: 45px;

  &__content {
    max-width: 1040px;
    color: #fff;
    margin: 0 auto;

    &__links {
      display: flex;
      flex-wrap: wrap;

      @include mobile(695px) {
        gap: 56px;
      }

      @include mobile(471px) {
        flex-direction: column;
      }

      &__about {
        margin-right: 80px;

        @include mobile(895px) {
          margin-right: 0;
        }

        &__header {
          font-weight: 600;
          font-size: 21px;
          line-height: 30px;
          margin-top: 16px;
          margin-bottom: 8px;
        }

        &__description {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          max-width: 279px;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      &__page {
        .title {
          font-weight: 600;
          line-height: 22px;
          text-transform: uppercase;
          margin-bottom: 22px;
        }
        .links {
          .link {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 16px;

            a {
              color: rgba(255, 255, 255, 0.8);
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
            }
          }

          :last-of-type {
            margin-bottom: 0;
          }
        }
      }
      .company {
        margin: 0 auto;

        @include mobile(695px) {
          margin: 0;
        }
      }
    }

    &__bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      @include mobile(626px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
    }
  }
}
