.base-button {
  padding: 13px 38px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &--primary {
    @extend .base-button;
    background: var(--boardman-green);
  }

  &--secondary {
    @extend .base-button;
    background: #f3f5f9;
    border: 0.5px solid #e0e1e2;
  }
}
