@import "../../../styles/common/mixins";

.nav-bar {
  padding-top: 40px;

  &__content {
    display: flex;
    justify-content: space-between;

    &__links {
      display: flex;
      justify-content: space-between;

      .nav-links {
        display: flex;
        gap: 40px;
        margin-left: 46px;
        font-weight: 500;
        font-size: 15px;
        line-height: 32px;

        // @include mobile(800px) {
        //   display: none;
        // }
      }
    }
    &__button {
      display: flex;
      gap: 24px;

      @include mobile(800px) {
        display: none;
      }
    }
  }
}
