@import "../../../../styles/common/mixins";

.about-hero {
  margin-top: 116px;
  background: #fdfdff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/map.png");
  position: relative;

  &.app-container {
    padding-right: 0;

    .app-container__section {
      max-width: 1305px;
      margin: 0 0 0 auto;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1305px;
    margin-left: auto;

    @include mobile(1117px) {
      flex-direction: column;
    }
    &__text {
      margin-top: 9px;

      &__header {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: var(--boardman-black);
        max-width: 504px;
        margin-bottom: 24px;
      }
      &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--boardman-black);
        max-width: 504px;
        margin-bottom: 32px;
      }
    }
    &__image {
      position: relative;
      .image-description {
        position: absolute;
        bottom: 40px;
        left: 50px;
        right: 50px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        max-width: 515px;
        color: #fff;
      }
    }

    .rectangle {
      &::after {
        top: -204px;
        right: 0;
      }
    }
  }
}
