.home-pricing {
  background-color: var(--boardman-blue);
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 118px;

  &__content {
    margin-bottom: 118px;
    &__text {
      &__header {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.03em;
        color: #ffffff;
        width: 527px;
        max-width: 526px;
        margin: 0 auto;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 24px;
      }
      &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        width: 517px;
        max-width: 526px;
        margin: 0 auto;
        padding-bottom: 64px;
      }
    }
    &__slider {
      max-width: 570px;
      margin: 0 auto;
      background-color: var(--boardman-blue);
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 2px 4px 130px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        flex: 1;
        text-align: center;
      }
      .tab-active {
        background: #6ae5b4;
        border-radius: 4px;
        padding: 10px 16px;
        color: var(--boardman-black);
      }
    }
    &__payment {
      display: flex;
      justify-content: space-between;
      padding-bottom: 56px;
      margin-top: 49px;

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #ffffff;

        img {
          width: 361.20001220703125px;
        }
      }
    }
    &__seller {
      background: linear-gradient(
        0deg,
        rgba(222, 232, 242, 0.2) 0%,
        rgba(249, 250, 251, 0) 100%
      );
      border-radius: 16px;
      padding: 25px 48px 40px 48px;
      display: flex;
      justify-content: space-between;

      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        width: 649px;
      }
    }
  }
}

.pricing {
  background: linear-gradient(
    202.43deg,
    rgba(46, 87, 129, 0.05) -110.56%,
    rgba(46, 87, 130, 0.05) 154.64%
  );
  box-shadow: inset 0px -3px 8px rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
  border-radius: 16px;
  .pricing-content {
    display: flex;
    padding: 32px 0 24px 64px;
    &__header {
      font-weight: 600;
      font-size: 21px;
      line-height: 30px;
      color: #ffffff;
      display: flex;
      gap: 16px;
    }

    &__title {
      display: flex;
      background: linear-gradient(
        202.43deg,
        rgba(46, 87, 129, 0.25) -110.56%,
        rgba(46, 87, 130, 0.25) 154.64%
      );
      box-shadow: inset 0px -3px 8px rgba(255, 255, 255, 0.1);

      padding: 19px 0 18px 48px;
      margin-left: 16px;
      margin-right: 16px;

      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        flex: 1;

        &:not(:first-of-type) {
          padding-left: 73px;
        }

        &:last-of-type {
          &[data-wide="true"] {
            flex: 2;
          }
        }
      }
    }

    &__price {
      &__data {
        display: flex;

        &:first-of-type {
          border-bottom: 1px solid rgb(46, 87, 129);
        }

        .data {
          font-weight: 600;
          font-size: 16px;
          line-height: 30px;
          flex: 1;
          color: #ffffff;
          padding-top: 24px;
          padding-bottom: 24px;
          border-right: 1px solid rgb(46, 87, 129);

          &:first-of-type {
            padding-left: 64px;
          }

          &:last-of-type {
            margin-right: 16px;
            border: 0;

            &[data-wide="true"] {
              flex: 2;
            }
          }

          &:not(:first-of-type) {
            padding-left: 73px;
          }
        }
      }
    }
  }
}
